<!DOCTYPE html>
<html lang="en" ng-app="mobile">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title></title>
<meta name="description" content="" />
<meta name="author" content="" />

<meta http-equiv='cleartype' content='on'>
<meta name='HandheldFriendly' content='True'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='black'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="styles/framework-mx.css">
<link rel="stylesheet" type="text/css" href="styles/jquery.mobile-1.4.5.css">
<link rel="stylesheet" type="text/css" href="styles/global.css">
<link rel="stylesheet" type="text/css" href="styles/fonts.css">


<!-- iPhone SPLASHSCREEN-->
<link href="apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
<!-- iPhone (Retina) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<!-- iPad (portrait) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
<!-- iPad (landscape) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
<!-- iPad (Retina, portrait) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<!-- iPad (Retina, landscape) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

<link rel="apple-touch-icon" href="assets/touch-icon-iphone.png"> <!-- 60x60-->
<link rel="apple-touch-icon" sizes="76x76" href="assets/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/iphone-4-icon-retnia.png">


<script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="scripts/lib/jquery.mobile-1.4.5.js" type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
<script src="scripts/lib/addtohomescreen.js"></script>
<script src="scripts/lib/angular-touch.js"></script>

<script src='scripts/lib/jwplayer.js' type='text/javascript'></script>
<script src='scripts/lib/jwplayer.html5.js' type="text/javascript"></script>

<script type="text/javascript">

var PRP = PRP || {};

PRP.app = angular.module("mobile", ["ngTouch"]);


/* Global Constatns
-----------------------------------------------------------------*/
PRP.properties = {
	key: "ad0609da-0066-11e4-b265-005056865f49",
	project_uuid: "wp224l18",
	jwplayer_key: "ttwoHLEQFRk9Kct9YkSlJw6IeXfuP5pkKnDtHVDUcGs="
};


PRP.app.constant("base", {
	api: {
		get_project: "https://player.piksel.com/ws/get_project/p/" + PRP.properties.project_uuid +"/api/" + PRP.properties.key + "/apiv/4.0/mode/json",
		get_programs: "https://player.piksel.com/ws/get_programs/p/" + PRP.properties.project_uuid +"/api/" + PRP.properties.key,
		get_program_details: "https://player.piksel.com/ws/get_program_details/p/"
	}
});


PRP.templates = {
	subCategoryPage: ['<div data-role="page" id="{{subCategoryPage.categoryid}}" class="hide">',
						'<div data-role="header" data-position="fixed">',
							'<a href="#{{subCategoryPage.parentid}}" data-transition="slide" data-direction="reverse" class="header-nav-item ui-btn-left large menu"><i class="icon-arrow-left"></i></a>',
							'<h1>{{subCategoryPage.name}}</h1>',
						'</div>',
						
						'<div role="main" class="ui-content jqm-content jqm-fullwidth">',
							'<div class="row content-top category-grouping">',
								'<div class="span-1 c rounded-corners white">',
									
									
									'<div class="span-1 light-grey-line bottom-line category-grouping-programs" ng-repeat="program in subCategoryPage.programs">',
										'<div class="span-40 no-pad pad-top">',
											'<a href="" ng-click="callVideo(program, subCategoryPage.categoryid)" data-transition="slide"><img ng-src="{{program.thumbnailUrl}}" style="width:100%;"></a>',
										'</div>',
										'<div class="span-60 l pad">',
											'<h5 class="med"><a href="" ng-click="callVideo(program, subCategoryPage.categoryid)" class="bold" data-transition="slide">{{program.Title}}</a></h5>',
											'<p class="small"><a href="" ng-click="callVideo(program, subCategoryPage.categoryid)" data-transition="slide">{{program.Description}}</a></p>',
											'<p class="small">{{program.duration}}</p>',
										'</div>',
									'</div>',


								'</div>',
							'</div>',
						'</div><!-- end main -->',

						'<div data-role="panel" id="sidePanelSubCat" class="sidePanel" data-position-fixed="true" data-display="push">',
							'<div class="span-1 pad logo-cntr">',
								'<img src="assets/PRP_final_14mar13.png" class="flex-img">',
							'</div>',
							'<ul class="unstyled align-left full-width-btn">',
								'<li ng-repeat="item in categories"><a href="#{{item.categoryid}}" data-transition="slide" panel>{{item.name}}</a></li>',
							'</ul>',
						'</div>',

					'</div><!-- Category page -->'].join("")
};




/* Backend Service
-----------------------------------------------------------------*/
PRP.app.service("Backend", ['$http', function ($http){
	this.fetch = function(url){
		var promissory = $http.get(url).then(function (response){ return response.data; });
		return promissory;
	};
}]);



/* API Services
-----------------------------------------------------------------*/
PRP.app.service("api", ["Backend", "base", function (Backend, base){
	var promise;

	// get project details: including categories in this project
	this.getProject = function(){
		// https://player.piksel.com/ws/get_project/p/ +project_uuid+ /api/ +key+ /apiv/4.0/mode/json
		promise = Backend.fetch(base.api.get_project);
		return promise;
	};
	
	// get programs: used to get categories: category_id in the getProjectDetails resonse
	this.getPrograms = function (category_id){
		// https://player.piksel.com/ws/get_programs/p/ +project_uuid+ /api/ +key+ /catid/ +category_id+ /start/0/end/14/apiv/4.0/mode/json
		promise = Backend.fetch(base.api.get_programs + "/catid/" + category_id +"/start/0/end/14/apiv/4.0/mode/json");
		return promise;
	};

	// get program details: used to fetch the video to play and show video details video UUID in the getPrograms response
	this.getProgramDetails = function (video_uuid){
		// https://player.piksel.com/ws/get_program_details/p/ +video_uuid+ /api/ +key+ /mode/json
		promise = Backend.fetch(base.api.get_program_details + video_uuid + "/api/" + PRP.properties.key + "/mode/json");
		return promise;
	};
}]);



/* Data processing and structuring
-----------------------------------------------------------------*/
PRP.app.service("process", ["api", "utils", function (api, utils){

	// builds Processes the project category information in to a more usable structure
	// useful for our page's view itterations and panel categories
	this.buildPanelData = function(data){
		var i, j, rawCategoryArray = data.response.getProjectResponse.vodProject.categories,
			categories = [],
			rawCatLength = rawCategoryArray.length,
			categoryLength;
		
		//build the parent categories
		for (i = 0; i < rawCatLength; i++) {
			if(rawCategoryArray[i].parentid === 0 && rawCategoryArray[i].name !== ""){
				categories.push(rawCategoryArray[i]);
				rawCategoryArray[i].subCategories = [];
				rawCategoryArray[i].parentCategoryPrograms = [];

				trash(rawCategoryArray[i]);
			}
		}

		categoryLength = categories.length;

		//pluck out the children and add them to the parent categories
		for (i = 0; i < rawCatLength; i++) {
			if(rawCategoryArray[i].parentid !== 0){

				for (j = 0; j < categoryLength; j++) {
					if(rawCategoryArray[i].parentid === categories[j].categoryid){
						categories[j].subCategories.push(rawCategoryArray[i]);
						rawCategoryArray[i].programs = [];

						trash(rawCategoryArray[i]);
					}
				}

			}
		}

		//cleans up the response object to free up space
		function trash(obj){
			delete obj.class;
			delete obj.sortnum;
			delete obj.metadatas;
			delete obj.description;
			delete obj.thumbnail;
		}

		return categories;		
	};


	// Clean up and process the programs
	this.programs = function(programs){
		var i, programLength = programs.length;

		for (i = 0; i < programLength; i++) {
			programs[i].duration = utils.secondsToTime(programs[i].duration);
		}

		return programs;
	};

}]);



/* Utility Services
------------------------------------------------------------------------- */
PRP.app.service("utils", function(){
	//checks to see if a object has a property
	this.objectHasProperty = function(obj, val){
		for(var prop in obj) {
			if(obj.hasOwnProperty(prop) && obj[prop] === Number(val)) {
				return true;   
			}
		}
		return false;
	};


	//converts our run time string to hours, min, seconds
	this.secondsToTime = function(secs){
		var hours, divisor_for_minutes, minutes, divisor_for_seconds, seconds, obj = {};

		secs = Math.round(secs);

		hours = Math.floor(secs / (60 * 60));

		divisor_for_minutes = secs % (60 * 60);
		minutes = Math.floor(divisor_for_minutes / 60).toString();

		divisor_for_seconds = divisor_for_minutes % 60;
		seconds = Math.ceil(divisor_for_seconds).toString();
		
		return (hours !== 0 ? hours +":" : "") + (minutes.length === 1 ? "0"+ minutes +":" : minutes +":") + (seconds.length === 1 ? "0"+ seconds : seconds);
	};


	// reusable chagne page method
	this.changePage = function(context){
		$.mobile.changePage(context, {
			transition: "slide"
		});
		$(context).removeClass("hide");
	};
});



/* emits "onRepeatLast" when the last item in a ngRepeat has loaded
------------------------------------------------------------------------- */
PRP.app.directive('onLastRepeat', ["$timeout", function ($timeout) {
	return {
		restrict: "EA",
		replace: false,
		link: function ($scope, element, attrs) {
			if ($scope.$last) $timeout(function(){
				$scope.$emit('onRepeatLast', element, attrs);
			}, 1);
		}
	};
}]);


/* Nav Panel Directive
-----------------------------------------------------------------*/
PRP.app.directive("panel", ["utils", function (utils){
	return{
		restrict: "AC",
		link: function($scope, element){
			element.click(function(){
				var id = element.attr("href");

				$scope.determineCategoryPrograms(id);
				utils.changePage(id);
			});
		}
	};
}]);




/* Load Video Page Directive
-----------------------------------------------------------------*/
PRP.app.directive("video", ["utils", function (utils){
	return{
		restrict: "AC",
		link: function($scope, element){
			element.click(function(){				

				$scope.video = {
					name: $scope.program.Title,
					description: $scope.program.Description,
					runtime: $scope.program.duration
				};
				
				
			});

		}
	};
}]);




/* Bakes & Appends Category Pages when the user reqeusts a subCat
-----------------------------------------------------------------*/
PRP.app.directive("categoryPages", ["$compile", "utils", function ($compile, utils){
	return{
		restrict: "AC",
		link: function($scope, element){
			element.click(function(){
				var catData = $(this).data(),
					page, i, j,
					catLength = $scope.categories.length;


				for (i = 0; i < catLength; i++) {
					if($scope.categories[i].categoryid === catData.parentid){
						for (j = 0; j < $scope.categories[i].subCategories.length; j++) {
							if($scope.categories[i].subCategories[j].categoryid === catData.subcategoryid){
								$scope.$apply(function(){ $scope.subCategoryPage = $scope.categories[i].subCategories[j]; });
								break;
							}
						}
					}
				}
				
				// Dont add another if it already exists
				if(!document.getElementById(catData.subcategoryid)){

					//comple the freshly birthed page
					page = $compile(PRP.templates.subCategoryPage)($scope);
					$scope.$apply();
					
					// Append to Parent
					$(page).insertAfter("#"+catData.parentid);

					//swtich to that page
					utils.changePage("#"+catData.subcategoryid);

				}else{
					utils.changePage("#"+catData.subcategoryid);
				}
				
				
			});
		}
	};
}]);





/* Login Controller
-----------------------------------------------------------------*/
PRP.app.controller("LoginController", ["$scope", function ($scope){
	//emit when login happens
	$scope.$emit("login", true);
}]);


/* Pages and Cagegories Controller
-----------------------------------------------------------------*/
PRP.app.controller("PagesController", ["$scope", "api", "process", "utils", function ($scope, api, process, utils){

	$scope.programLimit = 2;
	$scope.showPreloader = false;
	$scope.isLoggedIn = false;
	$scope.subCategoryPage = {};
	

	jwplayer.key = PRP.properties.jwplayer_key;

	//fetches the project information then refactors the data into a more useable structure
	api.getProject().then(function(data){
		$scope.categories = process.buildPanelData(data);
	});



	//this will be set once the login happens. *remove timout*
	$scope.$on("login", function (e, data){
		if(data){
			$scope.isLoggedIn = data;
			setTimeout(function(){
				var categoryid = $scope.categories[0].categoryid;
				$scope.determineCategoryPrograms(categoryid);

				//then show the first page in the category
				utils.changePage("#"+categoryid);
			}, 2000);
		}
	});

	

	// Itterates though the Categoies to get the correct programs for each category
	$scope.determineCategoryPrograms = function(category_id){
		var i, j, catLength = $scope.categories.length,
			hasCategoryId,
			programs;

		category_id = (typeof category_id === "string") ? category_id.replace("#", "") : category_id;

		for (i = 0; i < catLength; i++) {
			hasCategoryId = utils.objectHasProperty($scope.categories[i], category_id);

			// see if this cat has subcats otherwise get the programs for the cat
			if($scope.categories[i].subCategories.length !== 0){	

				//check to see if this category matches the parent category passed in
				if(hasCategoryId){
					for (j = 0; j < $scope.categories[i].subCategories.length; j++) {
						
						//if this object has the passed in category id and doesnt already have programs
						if($scope.categories[i].subCategories[j].programs.length === 0){
							getSubCategoryPrograms({
								category: $scope.categories[i].subCategories[j].categoryid,
								index: i,
								subindex: j
							});
						}
					}
				}

			}else{

				//check to see if this category matches the parent category passed in
				if(hasCategoryId){
					getSubCategoryPrograms({
						category: $scope.categories[i].categoryid,
						index: i
					});
				}
			}
		}
	};


	// Gets Cat Programs Cleans and addes them to the Parent
	function getSubCategoryPrograms(args){
		$scope.showPreloader = true;

		api.getPrograms(args.category).then(function(data){
			programs = process.programs(data.response.getPrograms.programs);

			if(typeof args.subindex !== "undefined"){
				$scope.categories[args.index].subCategories[args.subindex].programs = programs;
			}else{
				$scope.categories[args.index].parentCategoryPrograms = programs;
			}
			console.log($scope.categories)
			$scope.showPreloader = false;
		});
	}




	$scope.callVideo = function(program, page){
		$scope.video = {
			name: program.Title,
			description: program.Description,
			duration: program.duration,
			parentPage: page
		};

		utils.changePage("#video");

		jwplayer("videoProgram").setup({
			androidhls: true,
			autostart: true,
			file: program.asset.m3u8AndroidURL,
			title: program.Title,
			width: "100%",
			flashplayer: "scripts/jwplayer.flash.swf",
			aspectratio: "16:9"
		});

		jwplayer().onError(showErrorScreen);

		function showErrorScreen(){
			window.alert("Oops. Unable to playback video. Please try again or choose another video");
		}

	};


	
}]);


</script>


</head>
<body ng-controller="PagesController">


	<div data-role="page" id="login" ng-controller="LoginController">	
		<div role="main" class="ui-content jqm-content jqm-fullwidth">
			<div class="row content-top category-grouping">
				<div class="span-1 rounded-corners white no-pad pad-bottom">


					<div class="span-1 c pad">
						<form name="loginForm" class="login-form">
							<h2 class="lighter"><img src="assets/PRP_final_14mar13.jpg" style="width:100%"></h2>
							<p>Member Login</p>
							<p>
								<input type="email" name="email" class="input-full-width large" data-role="none" ng-model="email" placeholder="Email Address">
								<input type="password" class="input-full-width large" name="password" data-role="none" ng-model="password" placeholder="Password">
							</p>
							<button class="btn full-width-btn green large-btn btn-first" name="submit"  data-role="none" type="submit">Login</button>
						</form>
					</div>

					<div class="span-1 c light-grey-line top-line pad">
						<p class="no-margin"><a href="" class="link-color">View Full Site</a></p>
					</div>

					
				</div>
			</div>
		</div><!-- end main-->
	</div> <!-- Category page -->





<div data-role="none" id="{{page.categoryid}}" ng-repeat="page in categories" class="category-page hide">
	<div data-role="header" data-position="fixed">
		<a href="#sidePanelCat-{{page.categoryid}}" class="header-nav-item ui-btn-left large menu"><i class="icon-list"></i></a>
		<h1>{{page.name}}</h1>
	</div>
	
	<div role="main" class="ui-content jqm-content jqm-fullwidth">

		<div class="row content-top category-grouping" ng-repeat="subCat in page.subCategories">
			<div class="span-1 rounded-corners white no-pad pad-bottom">
				<h3 class="no-margin normal pad light-grey-line bottom-line lighter"><a href="" category-pages data-subCategoryId="{{subCat.categoryid}}" data-parentId="{{page.categoryid}}">{{subCat.name}} <i class="icon-ellipsis align-right"></i></a> </h3>

				<div class="span-1 c preloader" ng-show="showPreloader"><img src="assets/350_small.gif"></div>

				<div class="span-1 light-grey-line bottom-line category-grouping-programs" ng-repeat="program in subCat.programs | limitTo:programLimit">
					<div class="span-40 no-pad pad-top">
						<a href="" ng-click="callVideo(program, page.categoryid)" data-transition="slide"><img ng-src="{{program.thumbnailUrl}}" style="width:100%;"></a>
					</div>
					<div class="span-60 l pad">
						<h5 class="med"><a href="" ng-click="callVideo(program, page.categoryid)" class="bold" data-transition="slide">{{program.Title}}</a></h5>
						<p class="small"><a href="" ng-click="callVideo(program, page.categoryid)" data-transition="slide">{{program.Description}}</a></p>
						<p class="small">{{program.duration}}</p>
					</div>
				</div>


				<div class="span-1 no-pad" ng-if="subCat.programs.length > 2">
					<a href="" category-pages data-subCategoryId="{{subCat.categoryid}}" data-parentId="{{page.categoryid}}" class="btn btn-first full-width-btn load-more med">More Videos</a>
				</div>

			</div><!-- end sub category -->
		</div> <!-- end row -->



		<div ng-if="categories.parentCategoryPrograms.length != 0" class="row content-top category-grouping">
			<div class="span-1 rounded-corners white no-pad pad-bottom">
				<h3 class="no-margin normal pad light-grey-line bottom-line lighter">{{categories[0].name}}</h3>

				<div class="span-1 c preloader" ng-show="showPreloader"><img src="assets/350_small.gif"></div>

				<div class="span-1 light-grey-line bottom-line category-grouping-programs" ng-repeat="program in categories[0].parentCategoryPrograms">
					<div class="span-40 no-pad pad-top">
						<a href="" ng-click="callVideo(program, page.categoryid)" data-transition="slide"><img ng-src="{{program.thumbnailUrl}}" style="width:100%;"></a>
					</div>
					<div class="span-60 l pad">
						<h5 class="med"><a href="" ng-click="callVideo(program, page.categoryid)" class="bold" data-transition="slide">{{program.Title}}</a></h5>
						<p class="small"><a href="" ng-click="callVideo(program, page.categoryid)" data-transition="slide">{{program.Description}}</a></p>
						<p class="small">{{program.duration}}</p>
					</div>
				</div>
			</div><!-- end sub category -->
		</div> <!-- end row -->


	</div><!-- end main -->


	<div data-role="panel" id="sidePanelCat-{{page.categoryid}}" class="sidePanel" data-position-fixed="true" data-display="push">
		<div class="span-1 pad logo-cntr">
			<img src="assets/PRP_final_14mar13.png" class="flex-img">
		</div>
		<ul class="unstyled align-left full-width-btn">
			<li ng-repeat="item in categories"><a href="#{{item.categoryid}}" data-transition="slide" panel>{{item.name}}</a></li>
		</ul>
	</div>

</div><!-- Category page -->








<div data-role="page" id="video" class="hide">
	<div data-role="header" data-position="fixed">
		<a href="#{{video.parentPage}}" data-transition="slide" data-direction="reverse" class="header-nav-item ui-btn-left large menu"><i class="icon-arrow-left"></i></a>
		<h1>{{video.name}}</h1>
	</div>
	
	<div role="main" class="ui-content jqm-content jqm-fullwidth">
		<div class="row content-top category-grouping">
				
			<div class="span-1 light-grey-line bottom-line no-pad rounded-corners white video-container">
				<div class="span-1 no-pad" id="videoProgram">
					<img src="assets/350_small.gif">
				</div>
				<div class="span-1 l pad">
					<h1 class="normal">{{video.name}}</h1>
					<p class="small">{{video.description}}</p>
					<p class="small">{{video.duration}}</p>
				</div>
			</div>

		</div>
	</div><!-- end main -->

	<div data-role="panel" id="sidePanelVideo" class="sidePanel" data-position-fixed="true" data-display="push">
		<div class="span-1 pad logo-cntr">
			<img src="assets/PRP_final_14mar13.png" class="flex-img">
		</div>
		<ul class="unstyled align-left full-width-btn">
			<li ng-repeat="item in categories"><a href="#{{item.categoryid}}" data-transition="slide" panel>{{item.name}}</a></li>
		</ul>
	</div>

</div><!-- Category page -->




</body>
</html>